<section class="brandChild">
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{operation}}"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
    nzWidth="800"
  >
    <form nz-form >
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandName" nzRequired="true">品牌名称</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input type="text" nz-input (ngModelChange)="brandName" name="brandName" id="brandName">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyName" nzRequired="true">公司名称</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input type="text" nz-input (ngModelChange) name="companyName" id="companyName">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyAddress">公司地址</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input type="text" nz-input (ngModelChange)="companyAddress" name="companyAddress" id="companyAddress">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyTel">公司电话</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input type="text" nz-input (ngModelChange)="companyTel" name="companyTel" id="companyTel">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="description">描述</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <textarea
                nz-input
                (ngModelChange)="description"
                placeholder="请输入品牌描述"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-modal>
</section>
