<div class="page" *ngIf="loader == '0'">
  <div class="circle-loader">
    <div class="circle-line">
      <div class="circle circle-blue"></div>
      <div class="circle circle-blue"></div>
      <div class="circle circle-blue"></div>
    </div>
    <div class="circle-line">
      <div class="circle circle-yellow"></div>
      <div class="circle circle-yellow"></div>
      <div class="circle circle-yellow"></div>
    </div>
    <div class="circle-line">
      <div class="circle circle-red"></div>
      <div class="circle circle-red"></div>
      <div class="circle circle-red"></div>
    </div>
    <div class="circle-line">
      <div class="circle circle-green"></div>
      <div class="circle circle-green"></div>
      <div class="circle circle-green"></div>
    </div>
  </div>
</div>

<div class="page" *ngIf="loader == '1'">
  <div class="loader" >
    <div class="text">Loading...</div>
    <div class="horizontal">
      <div class="circlesup">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="circlesdwn">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <div class="vertical">
      <div class="circlesup">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="circlesdwn">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>